body{
    height: 100%;
    width: 100%;
    background-image: url("https://astronomy.com/~/media/D8E48A1E28E242468F74C1B06CFF478F.jpg");
}
main{
    height: 100%;
    width: 100%;
    padding: 10rem 10rem;
}
nav {
    height: 3rem;
}
.mainNeb {
    height: 30%;
    width: 30%
}
