body{
    height: 100%;
    width: 100%;
    background-image: url("https://astronomy.com/~/media/D8E48A1E28E242468F74C1B06CFF478F.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size:cover;
}
main{
    height: 100%;
    width: 100%;
    padding: 10rem 10rem;
    margin-top: 10rem;
    background-color: rgba(58, 57, 69, 0.467);
}
nav {
    height: 3rem;
    color: white;
}
.navImage{
    padding: .5rem;
}
.mainNeb {
    height: 30%;
    width: 30%
}
footer {
    margin-top: auto;
    background-color: rgb(43, 43, 43);
}